$colors : (
    black: #363533,
    white: #edebe6,
    cyan: #18f0da,
    cyan-green: #0cf575,
    red: #ed2e0c,
    orange: #f5880c,
    yellow: #f5e10c,
    lemon-yellow: #daf50c,
    green: #4ef50c,
    blue: #0c84f5
);

$btn-types : (
    btn,
    btn-outline,
    btn-round
)