$black: #363533;
$white: #edebe6;
$cyan: #18f0da;
$cyan-green: #0cf575;
$red: #ed2e0c;
$orange: #f5880c;
$yellow: #f5e10c;
$lemon-yellow: #daf50c;
$green: #4ef50c;
$blue: #0c84f5;

$colors : (
    black: #363533,
    white: #edebe6,
    cyan: #18f0da,
    cyan-green: #0cf575,
    red: #ed2e0c,
    orange: #f5880c,
    yellow: #f5e10c,
    lemon-yellow: #daf50c,
    green: #4ef50c,
    blue: #0c84f5
);

$rem : (
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem
);