* {
    font-size: 1rem;
    font-family: 'Arimo';
    font-weight: 400;
    color: #363533;
    margin: 0;
    padding: 0;
    border: none;
}

a {
    color: #363533;
    text-decoration: none;
}

a:hover {
    color: #363533;
    text-decoration: none;
}