.card-sm {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  word-wrap: break-word;
  background-color: rgba(248, 246, 246, 0.932);
  background-clip: border-box;
  border: 3px solid rgb(223, 222, 222);
  border-radius: 0.25rem;
  margin: 2rem;
  padding: 0;
  text-align: center;

  .card-img {
    width: 15rem;
    height: 45%;
  }

  .card-title {
    color: $blue;
    font-size: 1rem;
    margin: 0;
    padding: 1rem 0 3.3rem 0;
  }
  .card-btn {
    width: 13.4rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 0;
  }
}